@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dancing+Script&family=Montserrat&family=Roboto:wght@300&family=Rubik+Moonrocks&family=Varela&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Orbitron:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Orbitron:wght@400..900&family=Pacifico&display=swap");

@layer components {
    .center-item {
        @apply flex justify-center items-center;
    }

    .header-icon {
        @apply text-white text-2xl center-item rounded-full hover:scale-125 transition duration-500;
    }
}

html,
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
